body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2.5rem;
}

button {
    height: 60px;
    font-size: 1.5rem;
}

.operator {
    background-color: #f59e42;
    color: white;
}

.equal-sign {
    height: calc(100% - 130px);
    grid-area: 2 / 4 / 6 / 5;
    background-color: #f59e42;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #252525;
}

button:hover {
    background-color: #d3d3d3;
}

.all-clear {
    background-color: #d4af37;
}
